body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header{
  background-color: #000;
}
.option{
  font-weight: 300;
  font-size: 12px;
  color: #bababa;
  padding: 10px;
  border-top: 1px solid #404040;
}
.option a{
  color:inherit;
  text-decoration: none;
}
.option span{
  color: white;
  margin-right: 10px;
}
.footer{
  margin-top: 20px;
  background-color: #242424;
  
}
.logo img{
  height: 20px;
  padding: 10px;
}
.copyright{
  color: #878787;
  font-size: 14px;
}
.featured-item{
  position: relative;
}
.featured-item a{
  position: absolute;
  bottom: 20%;
  width: 80%;
  right: 0;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
}
.featured-image{
  height: 330px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.newsList-item{
    border: 1px solid #f2f2f2;
    background: #fff;
    padding: 8px 5px 0 5px;
}
.newsList-item h2{
  font-size: 12px;
  line-height: 21px;
  margin: 5px 0;
  color: #525252;
}
.newsList-item h2 a{
  text-decoration: none;
}
.newsList-wrapper{
  box-sizing: border-box;
  opacity: 0;
  transform:translateX(-100%);
  transition: all .5s ease;
}
.newsList-wrapper_enter{
  opacity: 1;
  transform: translateX(0)
}
.blue-btn{
  text-align: center;
  background: #2195f3;
  border-bottom: 1px solid #d7d7d7;
  font-weight: 500;
  color: #eee;
  padding: 9px;
  cursor: pointer;
  font-size: 15px;
}
.card-info{
  font-size: 11px;

}
.card-info i{
  margin-right:5px;
}
.team-name{
  margin-right: 7px;
  background: #d1d1d1;
  color: #fff;
  padding: 2px 5px;
}
.date{
  color: #2196f3;
}
.videos-list-wrapper{
  text-align: center;
  margin: 20px 0;
  color: #353535;
  font-weight: 300;
  font-size: 21px;
}
.videoListItem-container{
  display:flex;
  border-bottom: 2px solid #d5d5d5;
  background: #fff;

}
.videoListItem-container h2{
  font-size: 13px;
  color: #525252;
}
.left{
  background-size: cover;
}
.left div{
  width: 90px;
  height: 90px;
  background-size: 40px;
  background-repeat: no-repeat;
}

.article-team-header{
  border: 1px solid #c5c5c5;
  border-bottom: 0;
  background:#fff;
  margin: 5px 0 0 ;
  display:flex;
  justify-content: center;
  align-items: center;
}
.article-team-header .left{
  width: 57px;
  height: 50px;
  background-size: 65% !important;
  background-repeat: no-repeat;
  background-position: center;
}
.article-team-header .right{
  flex-grow: 1;
  padding-left: 10px;
  font-size: 15px;
  font-weight: 300;
}
.article-post-data {
  padding-left: 10px;
  border: 1px solid #c5c5c5;
  border-bottom: 0;
  background: #fff;
  margin: 5px 0 0;
  font-size: 13px;
  font-weight: 300;
}
.article-post-data span{
  font-weight: 500;
}
.article-body{
  background-color: #fff;
  margin: 0 5px;
  border: 1px solid #c5c5c5;
  padding: 10px;
}
.article-body h1{
  font-size: 25px;
  font-weight: 400;
  color: #4d4d4d;
  margin: 15px 0;
}
.article-image{
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.article-text{
  font-weight: 300;
  font-size: 14px;
  color: #666;
  line-height: 23px;
  margin: 15px 0;
}
.video-wrapper{
  background: #fff;
  margin: 0 5px;
  border: 1px solid #c5c5c5;
}
.video-wrapper h1{
  font-size: 25px;
  font-weight: 400;
  color: #d4d4d4;
  margin: 15px 0;
  padding: 0 10px;
}
.video-wrapper iframe{
  border: 0;
}